.search {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
  margin: 4% 10%;
}
.selectBtn {
  width: 80%;
}
.selectBtn select {
  width: 80%;
  margin-left: 2%;
}
